body {
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  background-color: #03506F;
}


.title{
  color: #fff;
}

.container-fluid{
  padding: 7% 15%
}



/* Title Section */

.my-avatar {
  margin: 30px;
  text-align: center;
}

.avatar {
  width: 300px;
  border-radius: 20%;
  border: solid 1px;
}

/* About me Section */

.about-me-section{
  padding: 3% 5%;
}

.tecnology img{
  margin: 3% 1%;
}

#about-me-carousel{
  margin-top: 2%;
}

.description{
  color: #fff;
  line-height: 1.5rem;
}

/* Project Section */

#project{
  padding: 3% 5%;
}

.project-items{
  padding: 3% 5%;
  width: 80%;
}



.project-btn{
  margin: 10px;
}

.card{
  margin: 15px;
}

.github-repositories{
  color: #fff;
}

/* Footer Section */

.contact-section{
  padding: 3% 5%;
}

#contact{
  text-align: center;
  padding: 3% 5%;
}

.contact-item i{
  color: #fff;
  margin: 0 5%;
}

.tel-email{
  color: #fff;
}
